# Ignore ROOT files
*.root

# Ignore Parquet files
*.parquet

# Ignore image files
*.png

# Ignore PDF files
*.pdf

# Ignore CSV files
*.csv

*.tar

*.tar.xz

*.log

*.pl

*.zip

tagger_pngs/
root_files/
process/
NTuples_test/
InputCards/
genfragments/
M15/
NTuples_2_files/
NTuples_full/
NTuples_ggH/
NTuples_ggH_v15/
NTuples_new/
NTuples_pretest_full/
NTuples_pretest_full_csvv2/
NTuples_BKG_2/
NTuples_BKG_lepton_presel/
NTuples_BKG_ptcut_first/
NTuples_bbgg/
2024_efficiency_study/Backgrounds/configs/.higgs_dna_vanilla_lxplus/
2024_efficiency_study/configs/.higgs_dna_vanilla_lxplus/

process/

mgbasedir/

InputCards/

python3.13/

decay_chains.txt

NTuples_WH_2024_cat1/
WHM60-RunIISummer20UL18NanoAODv2_backup/
python3.13/
NTuples_pretest_full_copy/

2024_efficiency_study/Data/configs/.higgs_dna_vanilla_lxplus/

2024_efficiency_study/Backgrounds/Skimmer/condor_DYGto2LG4_24SummerRun3/
2024_efficiency_study/Backgrounds/Skimmer/condor_DYGto2LG50_24SummerRun3/
2024_efficiency_study/Backgrounds/Skimmer/condor_DYto2E10_24SummerRun3/	
2024_efficiency_study/Backgrounds/Skimmer/condor_DYto2E50_24SummerRun3/
2024_efficiency_study/Backgrounds/Skimmer/condor_DYto2Mu10_24SummerRun3/
2024_efficiency_study/Backgrounds/Skimmer/condor_DYto2Mu50_24SummerRun3/
2024_efficiency_study/Backgrounds/Skimmer/condor_EGamma-Data-2024C/
2024_efficiency_study/Backgrounds/Skimmer/condor_EGamma-Data-2024D/
2024_efficiency_study/Backgrounds/Skimmer/condor_EGamma-Data-2024E/
2024_efficiency_study/Backgrounds/Skimmer/condor_EGamma-Data-2024F/
2024_efficiency_study/Backgrounds/Skimmer/condor_EGamma-Data-2024G/
2024_efficiency_study/Backgrounds/Skimmer/condor_EGamma-Data-2024H/
2024_efficiency_study/Backgrounds/Skimmer/condor_EGamma-Data-2024I/
2024_efficiency_study/Backgrounds/Skimmer/condor_Muon-Data-2024C/
2024_efficiency_study/Backgrounds/Skimmer/condor_Muon-Data-2024D/
2024_efficiency_study/Backgrounds/Skimmer/condor_Muon-Data-2024E/
2024_efficiency_study/Backgrounds/Skimmer/condor_Muon-Data-2024F/
2024_efficiency_study/Backgrounds/Skimmer/condor_Muon-Data-2024G/
2024_efficiency_study/Backgrounds/Skimmer/condor_Muon-Data-2024H/
2024_efficiency_study/Backgrounds/Skimmer/condor_Muon-Data-2024I/
2024_efficiency_study/Backgrounds/Skimmer/condor_TTG1Jets_24SummerRun3/
2024_efficiency_study/Backgrounds/Skimmer/condor_TTto2L2Nu_24SummerRun3/
2024_efficiency_study/Backgrounds/Skimmer/condor_TTtoLNu2Q_24SummerRun3/
2024_efficiency_study/Backgrounds/Skimmer/condor_WGtoLNuG_24SummerRun3/
2024_efficiency_study/Backgrounds/Skimmer/condor_WtoENu0J_24SummerRun3/
2024_efficiency_study/Backgrounds/Skimmer/condor_WtoENu1J_24SummerRun3/
2024_efficiency_study/Backgrounds/Skimmer/condor_WtoENu2J_24SummerRun3/
2024_efficiency_study/Backgrounds/Skimmer/condor_WtoMuNu0J_24SummerRun3/
2024_efficiency_study/Backgrounds/Skimmer/condor_WtoMuNu1J_24SummerRun3/
2024_efficiency_study/Backgrounds/Skimmer/condor_WtoMuNu2J_24SummerRun3/
2024_efficiency_study/Backgrounds/Skimmer/condor_logs/

2024_efficiency_study/Backgrounds/CondorLogs/
2024_efficiency_study/Backgrounds/DYto2E50_24SummerRun3_selected/

2024_efficiency_study/Backgrounds/NTuples_2024_BKG_WJets_test/
2024_efficiency_study/Backgrounds/NTuples_2024_BKG_btag/
2024_efficiency_study/Backgrounds/NTuples_2024_BKG_btag_L/
2024_efficiency_study/Backgrounds/NTuples_2024_BKG_lepCorr/
2024_efficiency_study/Backgrounds/NTuples_2024_BKG_skim/
2024_efficiency_study/Backgrounds/NTuples_2024_BKG_skim_new/
2024_efficiency_study/Backgrounds/NTuples_BKG_2024_with_MET/
2024_efficiency_study/Data/NTuples_2024_Data_skim_lepCorr/
2024_efficiency_study/Backgrounds/condor_TTtoLNu2Q_24SummerRun3/
2024_efficiency_study/Backgrounds/TTtoLNu2Q_24SummerRun3_selected2/
2024_efficiency_study/Backgrounds/Skimmer/condor_DYto2E10_24SummerRun3/
2024_efficiency_study/NTuples_WH_2024_with_MET/
2024_efficiency_study/Backgrounds/NTuples_BKG_overlap_removed/
2024_efficiency_study/Backgrounds/NTuples_2024_BKG_overlap_removal_final/
NanoSkimmer_new/
condor_logs/


